<div class="max-w-screen-xl mx-auto bg-white dark:max-md:bg-gray-600 md:bg-orange-200 shadow rounded-lg flex justify-center flex-1">
  <div class="rounded-e-lg rounded-s-lg md:rounded-e-none w-3/4 dark:bg-gray-600 md:w-1/2 xl:w-5/12 sm:bg-white p-4 min-[550px]:p-6 md:p-6 sm:p-12">
    <div class="mt-3 flex flex-col items-center">
      <h1 class="text-2xl xl:text-3xl font-extrabold">
        Change your avatar
      </h1>
      <div class="w-full flex-1 mt-8">
        <%= render 'admin/profile/avatar_form' %>
      </div>
    </div>
  </div>
  <div class="flex-1 text-center hidden md:flex">
    <div class="m-12 xl:m-16 w-full bg-contain bg-center bg-no-repeat" style="background-image: url('<%= asset_path('profile-avatar.svg') %>');">
    </div>
  </div>
</div>
